:root {
    --purple: purple;
    --white: white;
    --black: black;
    --background-color:#4eb3f1;
    --rojo: #fc0703 ;
    --verde: #008000;
    --azul: #0000ff;
    --rosa: #ff0080;

}


.bottom-half{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #4eb3f1);
    width: 100%;
    padding-left: 0;
}

.titulo{
    color: purple;
    font-weight: bold;
}


.noticia{
    padding: 20px 20px 20px 20px;
}

.upper-half{
    background-image: linear-gradient(to top,  rgba(255, 255, 255, 0), #4eb3f1);
    top:0;
    width: 100%;
}

.table-wt{
    background-color: white;
    color: #000;
}

.table-wt th, tr{
    color: #000;
    width: 800px;
} 

.form-input{ 
    width: 95%;
    position: auto;
    padding: 7px 7px 7px 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    border: none; /* <-- This thing here */
    border:solid 1px #ccc;
    border-radius: 10px;

}

.content-table {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;

}
.content-table tr{
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}
  
.content-table tr:hover {background-color:rgba(211, 211, 211, 0.192); font-size: large;}

.zelda a{
    text-decoration: none;
    color: black;
}

.zelda a:hover {
    text-decoration: none;
    color: purple;
    font-weight: bold;
    font-size: large;
}

.header{
    height: 100vh;
    width: 100%;
    background-image: url('img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

label{
    color: rgb(68, 68, 68);
    padding-left: 30px;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 60px 60px 60px 60px;
}

.center{
    position: auto;
    padding: 7px 7px 7px 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}



.center table{
    position: auto;
    padding: 7px 7px 7px 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0px 80px 0px 20px;
}

.card{
    width: 250px;
    height: 450px;
}


th, td {
    padding: 20px;
}

.footer{
    background-color: #F2F2F2;
    width: 100%;
}

@media only screen and (max-width: 988px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .grid-3, .grid-2 {
        grid-template-columns: 1fr;
      }
    .grid-3 card-body{
        height: 400px;
    }
    .calendar {
        height: 400px;
    }
    .noticia {
        width: 200px;
    }
}



/*
CSS para donaciones
*/

.button-donar{
    background-color: purple;
    color: white;
   /* border-radius: 10px;
   */
    
}


.titles{
    color: purple;
}
#table-usr{
    max-width: 95%;
    min-height: 800px;
}
.white-icon{
    color:white;
}





/*
* Nav bar
*/

#loginIcon{
    margin-right: 40px;
    transition: transform .4s;
}

#loginIcon:hover{
    transform: scale(1.3);
    
}

#linkLogin{
    color: black;
    text-decoration: none;
}

#linkLogin:hover{
    color: purple;
}

/*Botón alert*/

.Button_alert{

    position: absolute;
    top:50%;
    right: 0;
    width: 120px;
    transform: translateY(-50%);

}

.ancho{
    width: 70%;
}


.largo{

    height: 50%;
}

/* Títulos colores*/
.titulo-azul{
    color: var(--azul);
    font-weight: bold;
}

.titulo-verde{
    color: var(--verde);
    font-weight: bold;
}
.titulo-rojo{
    color: var(--rojo);
    font-weight: bold;
}
.titulo-rosa{
    color: var(--rosa);
    font-weight: bold;
}

.background{
    background-color: #ccebff ;
}

.font-title{
    font-family: 'Indie Flower', 'cursive';
    font-size: 40px;
}

.font-title-title{
    font-family: 'Indie Flower', 'cursive';
    font-size: 50px;
}

.font-card{
    font-family: 'Indie Flower', 'cursive';
    font-size: 25px;
}

.cont {
    min-height: 40em;
}

.login {
    min-height: 35em; 
}

.img-home {
    width:100%; height:500px;
}

.aviso{
    font-size: 30px;
}

